.data-card{
    padding: 0.25rem 1rem;
    background-color: white;
    color: rgb(24, 24, 24);
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin: 1rem 0;
}

span{
    color: #646cff;
    font-weight: 500;
}

.total{
    padding: .75rem 1.25rem;
    background-color: #646cff;
    border-radius: .25rem;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    margin-left: 1rem;
}