button {
  background-color: #646cff;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 0.5rem;
  border: 0 solid transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: .8rem;
  width: 20%;
  margin: 1rem 0;
}

button:hover {
  border: 1px solid #646cff;
  background-color: white;
  color: #646cff;
}
